body {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(0, 0, 0);
}
.astro{
    color: #ffffff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 20%;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display:none;
    z-index: 1;
    width: 50%;
    
}

.dropdown:hover .dropdown-menu {
    display: block;
}